@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}


/*this is a style rule for the board on which our cards will be placed*/
#board
{
	background-color: #E8E8E8;
	border: #8A888A 2px solid;
	width: 700px;
	height: 440px;
	padding: 24px;
	margin: 0 auto;
}


/*this is a style rule to represent the back of the card, when it's unflipped*/
#board > div
{
 background: #2D2D2E;
 border: #000 1px solid;
 width: 60px;
 height: 60px;
 float: left;
 margin: 10px;
 padding: 20px;
 font-size: 40px;
 cursor: pointer;
 text-align: center;
}
