@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #FFFFF3;
}

h1
{
	text-align: center;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
	border-radius: 15px;
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: #FFFFF3 url('../images/card_front_face.png') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: #FFFFF3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: #FFFFF3 !important;
}


/*Timer*/
*#timerOn
{
	display:block;
	width:100px;
	margin:0 auto;
}

.timer
{
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
